<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="Xiangyu">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

   <title>URL Shortener - coligo.io</title>

	<!-- SCROLLS -->
  	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<link href="css/styles.css" rel="stylesheet">


	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->

	<script src="javascripts/controllers/main.js"></script> <!-- load up our controller -->
	<script src="javascripts/services/Shortener.js"></script> <!-- load our todo service -->
	<script src="javascripts/core.js"></script> <!-- load our main application -->

</head>


<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">
	<div class="site-wrapper">
		<div class = "site-wrapper-inner">
			<div class = "main-container">
				<div class = "inner cover">
					<span class ="glyphicon glyphicon-link"></span>

					<h1>URL Shortener</h1>
					<h4>Xiangyu Zhang</h4>
            			<div class="col-lg-12">
              				<div class="input-group input-group-lg">
								<input type="text" class="form-control input-lg text-center" placeholder="Paste a link" ng-model="long_URL.url">
								<span class="input-group-btn">
								<button class = "btn btn-shorten" type ="submit" ng-click="UrlShortener()">SHORTEN</button>				
								</span>
								<br>
								<p>form = {{long_URL}}</p>
							</div>
						</div>

						<div class = "col-lg-12">
							<div id = "link"></div>
						</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
